Найти:
<input ng-model="myQuery"><br><br>

Тип:
<select ng-model="myType">
    <option value="all">&#171;..Все..&#187;</option>    
    <option value="fire">Огненные</option>
    <option value="water">Водные</option>
    <option value="grass">Травяные</option>
    <option value="electric">Электрические</option>
    <option value="poison">Ядовитые</option>
    <option value="normal">Нормальные</option>
</select>
<br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу &darr;</option>
    <option value="height">Росту</option>
    <option value="name">Имени</option>
    <option value="-weight">Весу &uarr;</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | type: myType | orderBy: myOrderProperty">
        <a ng-click="showName(pokemon.name)"><img src="{{pokemon.ThumbnailImage}}"></a>  
        <small>ID #{{pokemon.id }}</small>
        <h1 ng-class="colorByType[pokemon.type[0]]">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type }}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие в имени: 
    {{myQuery}}
</p>

<p ng-show="myType">
    Выведены покемоны, содержащие тип:
    {{myType}}
</p>